<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Articles</span></a></li>
        <li><a href="#Featured" class="nav-link scrollto"><i class="bx bx-slideshow"></i> <span>Featured</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->



  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Don Esrom</h1>
      <p><span class="typed" data-typed-items="Cybersecurity, Technical Writing, Web Development"></span></p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/don-esrom/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://twitter.com/Donesrom" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <!-- <a href="https://www.youtube.com/@tech_with_don" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a> -->

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <div class="section-p">
            <p> I am Don Esrom. 
              <br>
              I am a Technical Writer with more than 10 years of professional writing experience. <br>
              I am interested in Cybersecurity and Web development. I like solving problems and offering solutions <br> through writing content and building stuff.</p>
          </div>
        </div> 
      </div>
    </section><!-- End About Section -->

    <!-- Portfolio section -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Read my Articles</h2>
        </div>
        
        <div class="blog-posts" id="blog-container"></div>
      </div>
    </section>
<!-- end portfolio section -->

<!-- Featured section -->

  <section id="Featured" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>As Featured On</h2>
      </div>
      <div class="featured-grid">
        <div class="featured-item">
          <img src="static\img\Featured\codeless_logo.jpg" alt="Featured Item 1">
        </div>        
        <div class="featured-item">
          <img src="static\img\Featured\guru99-logo.jpg" alt="Featured Item 1">
        </div>
      </div>
    </div>
    </section>

<!-- end featured section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>donesrom@gmail.com</p>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
</body>
  {% endblock content %}